.appleImage{
	background: url(images/apple.jpg) no-repeat;
	background-size: 250px 250px;
	background-position: center;
	width: 400px;
	height: 400px;
}

.bananaImage{
	background: url(images/banana.jpg) no-repeat;
	background-size: 350px 350px;
	background-position: center;
	width: 400px;
	height: 400px;
}

.pearImage{
	background: url(images/pear.jpg) no-repeat;
	background-size: 300px 300px;
	background-position: center;
	width: 400px;
	height: 400px;
}

.orangeImage{
	background: url(images/orange.jpg) no-repeat;
	background-size: 350px 350px;
	background-position: center;
	width: 400px;
	height: 400px;
}

.price {
	position: absolute; 
	top: 300px; 
	left: 0; 
	width: 100%; 
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.7); 
	padding: 10px; 
}

